# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Sangat penting agar node_modules tidak ter-upload)
node_modules
dist
dist-ssr
*.local

# Editor folders (Pengaturan pribadi editor kamu)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Vercel (Folder hasil deploy jika pakai Vercel)
.vercel

# Environment Variables (File rahasia berisi API Key, jangan di-upload!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata (File sistem Windows/Mac)
Thumbs.db
Desktop.ini
.env*.local
